@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  overflow-x: hidden;
}


html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
  --darkpurple: #5175ff;
  --lightpurple: #829cff;
  --darkblack: #25293a;
  --lightblack: #333950;
  --grey: #647b95;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.btn.dark-purple {
cursor: pointer;
background-color: var(--darkpurple);
color: #fff;
border: none;
border-radius: 5rem;
padding: 1rem;
width: 9rem;
-webkit-box-shadow: -5px 9px 9px -8px rgba(0,0,0,0.79); 
box-shadow: -5px 9px 9px -8px rgba(0,0,0,0.79);
}
.btn.dark-purple:hover {
background-color: var(--lightpurple);
}



h1 {
  color: var(--darkblack);
  font-size: 3rem;
}





/* ------------ HEADER ------------  */

nav {
  width: 100%;
  margin: 4rem 7rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  overflow: hidden;
}

.item-1 
{
text-align: left;
padding: 3rem 7rem;
line-height: 1.5;
width: 100%;
}
.item-1 p {
  margin: 1.5rem 0;
  color: #747B95;
  font-weight: lighter;
}


.item-2 .charts {
  opacity: 1;
  z-index: 999;
}
.item-2 .bg-pattern {
position: absolute;
top: -30rem;
right: -15rem;
z-index: -1;
}





/* ------------ PLANS SECTION ------------ */

.plans {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
}



.cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 23rem);
  justify-items: center;
  justify-content: center;
  line-height: 1.5;
  margin-top: 10rem; 
  top: 60rem;
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
}
.package p:nth-of-type(1) {
margin-top: 4rem;
color: var(--lightblack);
}
.card-1, .card-2, .card-3 {
width: 21rem;
}
.cards button {
background-color:#E4EAFF;
color: var(--darkpurple);
font-weight: bold;
border: none;
border-radius: 5rem;
padding: 1.3rem;
width: 10rem;
margin:  1.3rem 0;
}
.cards button:hover {
background-color: #C2CFFF;
cursor: pointer;
}


.card-1 p, .card-3 p {
margin:  1rem 0;
color: var(--grey);
}
.card-1, .card-3 {
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
-webkit-box-shadow: 5px 5px 13px -6px rgba(0,0,0,0.69); 
box-shadow: 5px 5px 13px -6px rgba(0,0,0,0.69);
  padding: 2rem;
}h3:nth-of-type(2n) {
font-size: 3rem;
color: var(--lightblack);
}
h3:nth-of-type(2n) {
font-size: 3rem;
color: var(--lightblack);
}


.card-2 {
  position: relative;
  text-align: center;
  background-color: var(--lightpurple);
  border-radius: 1rem;
-webkit-box-shadow: 5px 5px 13px -6px rgba(0,0,0,0.69); 
box-shadow: 5px 5px 13px -6px rgba(0,0,0,0.69);
padding: 2rem;
}
.card-2 h3 {
color: #fff;
}
.card-2 p {
margin:  1rem 0;  
color: #fff !important;
}
.card-2 button {
position: relative;
background-color: #fff;
}
.card-2 button:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--lightpurple);
}


.card-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  right: 0.1rem;
}





/* ------------- FOOTER SECTION ------------- */

footer {
  position: relative;
  background-color: var(--darkblack);
  grid-column: 1 / -1;
  grid-row: 2 / span 3;
  z-index: -1;
  bottom: 0;
  opacity: 1;
  width: 100vw;
}

footer img {
position: absolute;
width: 100%;
height: 100%;
}


.days, .hours, .min, .sec {
  background-color: #333950;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.time {
  color: #999CA7;
  font-size: 1rem;
}


 footer h3 {
  font-size: 1.5rem;
  color: #fff;
  font-size: 1.3rem;
  word-spacing: 0.2rem;
}


.ft-item-1 {
  display: grid;
  margin-top:25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.countdown {
  display: flex;
}

.countdown {
  grid-column: 1 / 2;
  margin-top: 1rem;
}









footer .btn.dark-purple {
position: relative;
cursor: pointer;
}
footer .btn.dark-purple a {
text-decoration: none;
color: #fff;
}

.purple-text {
  color: #5175FF;
}







/* ------------- Sign Up Page ------------- */

.side-bg {
  position: fixed;
  background-color: var(--darkblack);
  width: 25rem;
  height: 100vh;
  z-index: -1;
  right: 0;
  overflow: hidden;
}

.side-bg img {
position: absolute;
width: 800px;
height: 100vh;
transform: rotate(180deg);
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 10rem;
  flex: 1;
}

.left-section h1 {
  line-height: 1.2;
}

.left-section h3 {
  margin: 3rem 0;
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
}

.left-section .signup-countdown {
  margin-top: 1rem;
  display: flex;
}

.left-section .signup-days, .left-section .signup-hours,       
.left-section .signup-min, .left-section .signup-sec {
width: 6rem;
height: 7rem;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
color: #5175FF;
background-color: #EEF1FF;
text-align: center;
font-size: 2.5rem;
font-weight: bold;
border-radius: 1rem;
margin: 0 0.5rem;
} 

.signup-time {
  font-weight: lighter;
  font-size: 1rem;
  color: var(--grey);
}


.left-section h1 + p {
  margin: 1.5rem 0;
  color: #747B95;
  font-weight: lighter;
  line-height: 1.5;
}


input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
input, select {
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  outline: none;
  border-bottom: 1px solid #BABDCA;
  padding-bottom: 1rem;
}

input::placeholder {
color: var(--grey);
}


form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4rem;
}


form button {
  margin-top: 1rem;
}



form input, form select {
  margin: 1.3rem 0;
}

select span {
  color: red;
}

.right-section .btn.dark-purple {
  width: 22rem;
  padding: 1.3rem;
}

select {
  font-weight: bold;
}

select .package-type {
  color: black;
}










/* ------------------------ MEDIA QUERIES ------------------------  */

/* ------------ TABLET ------------ */

@media(max-width: 835px) {

  .cta {
    align-items: center;
  }

  nav {
    margin: 0;
    padding: 0;
    margin: 3rem;
  }


.ft-item-1 {
  display: flex;
  flex-direction: column;
  margin: 30rem 0;
}
.footer-btn {
  margin-top: 2.5rem;
}
footer {
  margin: 0 auto;
  position: relative;
  max-width: 100vw;
}
footer img {
 position: absolute;
 width: 2200px;
 height: 1200px;
 bottom: 0;

}




  .item-1 {
   padding: 3rem;
  }

  .item-1 h1 {
    font-size: 2rem;
  }

  .item-1 p {
    font-size: 0.8rem;

  }

  .item-2 .charts {
    scale: 0.9;
    display: flex;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    margin: 0 auto;
  }

  .card-1, .card-2, .card-3 {
position: relative;
   width: 90vw;
   height: 25vh;
   line-height: 1.5;
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: space-between;
   line-height: normal;
   overflow: hidden;
   padding: 10rem;
  }

  

  .card-1 > div,  .card-2 > div,  .card-3 > div {
    margin-bottom: 5rem;
  }

    .card-1 > div:nth-of-type(1), .card-2 > div:nth-of-type(1), .card-3 > div:nth-of-type(1){
      position: absolute;
      left: 3rem;
  }

     .card-1 > div:nth-of-type(2),   .card-2 > div:nth-of-type(2),   .card-3 > div:nth-of-type(2){
      position: absolute;
      right: 3rem;
  }

  .cards button {
    left: 3rem;
  }


  .card-1 p, .card-3 p {
    color: var(--grey) !important;
  }

  .card-1 h3, .card-2 h3, .card-3 h3 {
    margin: 1rem 0;
  }



  .card-1 p:nth-of-type(1), .card-2 p:nth-of-type(1), .card-3 p:nth-of-type(1) {
margin-bottom: 0;
}
  .card-1 button,  .card-2 button,  .card-3 button { 
   position: absolute;
   margin-top: 15rem;
  }

} 





/* ------------ MOBILE ------------ */

 @media(max-width: 415px) {
  nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .cta {
    grid-template-columns: 20rem;
    justify-content: center;
  }

  .item-1 {
    order: 2;
    width: 80vw;
    text-align: center;
    margin-bottom: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
  
  }.item-1 button {margin: 1rem auto;}

  .item-1 h1 {
    font-size: 2rem;
  }

  .item-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    order: 1;
    scale: 1;
    align-self: center;
    margin-top: 5rem;
  }

  .plans {
    position: relative;
    bottom: 10rem;
  }


  .card-1, .card-2, .card-3 {
   width: 85vw;
   height: 800px;
   margin: 0;
   padding: 0;
   line-height: 1.5;
   text-align: center;
   display: flex;
   flex-direction: column;
   line-height: normal;
    font-size: 1rem;
  }

  .card-1, .card-2, .card-3 {
    position: relative;
  }

   .card-1 button,  .card-2 button,  .card-3 button { 
   position: absolute;
   bottom: 5rem;
  }
  .card-1 h3 {
font-size: 2rem;
}

.card-1 > div:nth-of-type(2), .card-2 > div:nth-of-type(2), .card-3 > div:nth-of-type(2)  {
  margin-bottom: 25rem;
}




.card-1 > div:nth-of-type(1),        .card-2 > div:nth-of-type(1),        .card-3 > div:nth-of-type(1) {
right: 0;
left: 0;

}.card-1 > div:nth-of-type(2), .card-2 > div:nth-of-type(2), .card-3 > div:nth-of-type(2) {
margin-top: 18rem;
right: 0;
left: 0;
}

.cards button {
  left: auto;
  right: auto;
}

footer {
position: relative;
width: 100vw;
height: 80rem;
bottom: 0;
}


.ft-item-1 {
position: absolute;
margin-bottom: 35rem;
width: 100vw;
bottom: 0;
}

.days, .hours, .min, .sec {
 font-size: 1.3rem;
margin: 0 0.3rem;

}




}







/* ------------ SIGN UP MEDIA QUERIES -------- */
/* ------------ TABLET -------- */

@media(max-width: 950px) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
  }

  .left-section {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .left-section h1 br { 
    display: none;
  } 
  .left-section h1 + p {
    text-align: center;
  }
  .left-section h3 {
    margin-top: 2rem;
   margin-bottom: 0.5rem;
  }

.right-section {
  width: 100%;
  display: flex;
  justify-content: center;
  order: 2;
  }

  form {
    position: absolute;
    z-index: 999;
    margin-top: 1rem;

    
  }

  .side-bg img {
    width: 100%;
    height: 100vh;
    
  }

  .side-bg {
    position: sticky;
    width: 100%;
    height: 100vh;
    z-index: -1;
    bottom: 0;
    order: 2;
  }



}

/* ------------ MOBILE -------- */
@media(max-width: 450px) {
  #signup-nav {
   margin: 0;
   position: relative;
   padding: 0;
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   z-index: 999;
  }

  .grid {
    text-align: center;
  }

  .left-section {
    margin-top: 5rem;
  }
  .left-section p {
    padding: 0 2rem;
  }
   .left-section br {
    display: none;
  }

.signup-days, .signup-hours, .signup-min, .signup-sec {
display: flex;
flex-direction: column;
}
.signup-countdown {
width: 25rem;
padding: 2rem;
}
.signup-time {
display: flex;
justify-content: center;
align-items: center;
}

form {
  width: 20rem;
}
.right-section form .btn.dark-purple  {
  width: 17rem;
}

.side-bg img {
width: 100vw;
height: 80vh;
}



  /* .nav-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    z-index: -1;
    top: 0;
  } */

  
}